@tailwind base;
@tailwind components;
@tailwind utilities;

/* Makes footer sticky when there's less content */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
